{% extends 'base.html' %}

{% block header %}
  <h1 class="body-title">{% block title %}CheerPy{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>
    Pronounced "Cheer-pee", CheerPy is a Twitter bot developed in Python designed to cheer up Twitter users who have been making sad tweets by sending them images of cute animals such as puppies and kittens. This project utilizes the Twitter API to retrieve Tweets from Twitter users and sentiment analysis tools to analyze the polarity of Tweets. CheerPy is hosted on Google Cloud Platform. 
  </p>

  <p>
    CheerPy is developed by UCF students Jin Koay, Ryan Hidalgo and Xiaojin Dai in Summer 2019. 
  </p>
{% endblock %}